*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/data/build/
/core/database/build/
/core/model/build/
/core/ui/build/
/feature/create/build/
/feature/edit/build/
/feature/list/build/
/feature/onboarding/build/